<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a href="" class="navbar-brand me-2"><img src="https://naukrirecruiter.naukri.com/profilePic/getpic?pid=1488429768rp3092784_medium4" alt="Microlent" style="margin-top:-1px;" height="40"></a>
  
    <button class="navbar-toggler" type="button"
    data-mdb-toggle="collapse" data-mdb-target="#navbar"><i class="fas fa-bars"></i></button>
  
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="" class="nav-link">Home Page</a>
        </li>
      </ul>
    </div>
    
    <div class="d-flex align-items-center">
      <a href="" class="btn btn-link px-3 me-2" (click)="onSelected('')">Login</a>
      <a href="" class="btn btn-primary px-3 me-2" (click)="onSelected('')">Sign Up </a>
     
      <a href="" class="btn btn-dark px-3"><i class="fab fa-github"></i></a>
    </div>
  
  
  
  </div>
</nav>